@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Luckiest Guy', cursive;
    background-color: #FDF1A9;
}

.container {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    font-size: 36px;
    text-decoration: none;
    color: black;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0 120px 120px 0;
}

.home {
    background-color: #F6E799;
}

.study {
    background-color: #FBC95A;
}

.quiz {
    background-color: #F27C0A;
}

.summary {
    background-color: #396345;
    color: #000;
}

/* Main Content */
.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
}

.main h1 {
    font-size: 120px;
    line-height: 1.2;
}

.user-label {
    font-size: 30px;
    margin-top: 10px;
}

#username {
    margin-top: 5px;
    padding: 10px 20px;
    border-radius: 25px;
    border: 1px solid rgba(0,0,0,0.3);
    background-color: #FBC95A;
    color: white;
    font-size: 16px;
    font-family: 'Luckiest Guy', cursive;
}
